<h1 class="ml-2 text-blue-600 font-bold text-2xl hidden sm:block py-5">EVT-Visu</h1>
<div class="text-gray-400 text-left text-base leading-tight px-2 py-2">
    Auswertung
</div>
<div class="bg-blue-500 text-sm cursor-pointer px-2 text-white flex rounded-lg my-2 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current" width="24" height="24">
        <path class="heroicon-ui"
              d="M20 22H4a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h4V8c0-1.1.9-2 2-2h4V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2zM14 8h-4v12h4V8zm-6 4H4v8h4v-8zm8-8v16h4V4h-4z"></path>
    </svg>
    <span class="px-2 py-1">Dashboard</span>
</div>
<div class="hover:bg-blue-500 text-sm cursor-pointer px-2 text-gray-600 hover:text-white flex rounded-lg my-2 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current" width="24" height="24">
        <path class="heroicon-ui"
              d="M20 22H4a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h4V8c0-1.1.9-2 2-2h4V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2zM14 8h-4v12h4V8zm-6 4H4v8h4v-8zm8-8v16h4V4h-4z"></path>
    </svg>
    <span class="px-2 py-1">Temperatur</span>
</div>
<div class="text-gray-400 text-left text-base leading-tight px-2 py-2">
    Einstellungen
</div>
<div class="hover:bg-blue-500 text-sm cursor-pointer px-2 text-gray-600 hover:text-white flex rounded-lg my-2 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current" width="24" height="24">
        <path class="heroicon-ui"
              d="M20 22H4a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h4V8c0-1.1.9-2 2-2h4V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2zM14 8h-4v12h4V8zm-6 4H4v8h4v-8zm8-8v16h4V4h-4z"></path>
    </svg>
    <span class="px-2 py-1">Benutzer</span>
</div>